<div class="container-fluid">
<div class="row">
   <div class="col-sm">
<img id="logo" src="https://i.imgur.com/Np7fsUb.png">
<div class="images">
   <div>
   <img id="woman"src="https://i.imgur.com/7YkNVMi.png">
  
   
      <img id="man" src="https://i.imgur.com/KDBXtqF.png">
      </div>
</div>
</div>


<div class="col-sm" style="background-color: #8556A4;">
   
   <p id="parag">Time to Work!</p>
  <div class="emailsection"> <p for="email">Email</p>
   <input id="email"type="email" value="" placeholder="enter your email"></div>
 
<div class="passwordsection"><p>Password</p>
   <input id="password" value="" type="password" placeholder="enter your password"></div>
   <br><div>
   <button type="submit" id="submit" (click)="login()"><a id="link" [routerLink]="['/TodoList/']" > SIGN IN</a></button>
</div>
  
</div>
</div></div>